<div class="container">

	<div class="row">
		<main class="col-md-12">
			<!-- Start your code here -->
			<h1>WELCOME to my Website. TEST</h1>
				<p>I will be demonstrating HTML5 principles and techniques, Routing in Express...</p>
				<h2> Introduction</h2>
				<p> This site consists of three static views(Home, About,HTML Demp) as well as 5 routes that supply data, including:
				All Students, Students by course, <br>A single student by student Number,
				All Managers(TAs) and All Courses.</p>
				<ul>
					<li><a href ="/">Home</a></li>
					<li><a href = "/about">About</a></li>
					<li><a href = "/htmlDemo" >HTML Demo</a></li>
					<li><a href ="/students"> Students </a></li>
					<li><a href = "/tas"> Teaching Assistants</a></li>
					<li><a href = "/courses"> Courses</a></li>
					<li><a href = "/students/2">Student by Student Number</a></li>
					<li><a href ="/students?course=3">Students by Course</a></li>
				</ul>
				<h3>Introduction to HTML5</h3>
				<p> This site utilizes <strong><em>HTML5</em></strong>. It is a Markup Language used for <em>structuring and presenting </em>content on the World Wide Web.</p>
				<p>Some Key elements of HTML5 are:</p>
				<ul>
					<li><strong>Semantic Element</strong></li>
					<li><strong>Audio and Video Support</strong></li>
					<li><strong>Canvas</strong></li>
					<li><strong>Form Enhncement</strong></li>
					<li><strong>Local Storage</strong></li>
					<li><strong>Geo Location</strong></li>
				</ul>
			
			
				<!-- End your code here  -->
		</main>
	</div>
		
		