

		<div class="container">
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					<section>
					<h2>TABLES</h2>
					<caption> My Favourite Books</caption>
						
						<table border = "1">
							
							<thead>
							<tr>
								<th>Sl. No:</th>
								<th>Name</th>
								<th>Author</th>
								<th>Year</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>1.</td>
								<td>Malgudi Days</td>
								<td>R.K. Narayan</td>
								<td>1943</td>
							</tr>
							<tr>
								<td>2.</td>
								<td>2 States</td>
								<td rowspan ="2">Chetan Bhagat</td>
							  	<td>2009</td>
									
							</tr>
							<tr>
								<td>3.</td>
								<td>400 Days</td>
								<td>2021</td>

							</tr>
							<tr>
							<td>4.</td>
							<td>The Great Indian Novel</td>
							<td>Shashi Tharoor</td>
							<td>1989</td>
							</tr>
							</tbody>
						</table>
						<hr>
						<caption>My Favourite Movies</caption>
						<table border = "1">
							<thead>
								<tr>
									<th>SL.No:</th>
									<th>Name</th>
									<th>Director</th>
									<th>Year</th>
								</tr>
							</thead>
								<tbody>
									<tr>
										<td>1.</td>
										<td>Titanic</td>
										<td>James Cameron</td>
										<td>1997</td>
									</tr>
									<tr>
										<td>2.</td>
										<td>Parasite</td>
										<td>Bong Joon Ho</td>
										<td>2019</td>
									</tr>
									<tr>
										<td>3.</td>
										<td>God Father</td>
										<td>Ford Coppolo</td>
										<td>1972</td>
									</tr>




								</tbody>
						
						</table>
						<hr>
						<caption>My Favourite Cosmetic Brands</caption>
						<table border = "1">
							
							<thead>
							<tr>
								<th> Sl.No:</th>
								<th> Product Name</th>
								<th> Brand</th>
								<th> Price</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>1</td>
								<td>Lipstick</td>
								<td rowspan="2"> MAC </td>
								<td>$50</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Foundation</td>
								<td>$75</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Mascara</td>
								<td>Maybelline</td>
								<td>$25</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="3">Total</td>
								<td>$150</td>
							</tr>
							</tfoot>
						</table>
						<hr>
						<p>

							Books,Movies and Cosmetics are my passion. My all time favourite books are :Malgudi Days, 2 States and 400 Days.
							<br>My favourite movies are:God Father, Parasite and Titanic. 
							<br>MAC and Maybelline are my favourite cosmetic brands.
							</p>
							<hr>
							</section>

							<section>
								<h2>LISTS</h2>
								<caption>My Favourite Places</caption>
								<ol type ="i">
									<li value = "IN">India <ul>
										<li>Kerala</li>
										<li>Chennai</li>
										<li>Bangalore</li>
										<li>Hyderabad</li>
									</ul>
								</li>
        							<li value = "CN">Canada <ul>
										<li>Ontario</li>
										<li>BC</li>
										<li>Alberta</li>
									</ul></li>
        							<li value = "US">USA</li>
       								<li value = "SN">Singapore</li>
									<li value = "Aus">Australia</li>

								</ol>
								<p>This section contains a list of my favourite places. India, Canada, USA, Singapore and Australia.
									<br>In India; Kerala,Bangalore,Hyderabad and Chennai are the places I love to visit.
									<br>Some of my favourite places in Canada are Ontario, BC,Alberta etc.
								</p>
								</section>
								<hr>
								<section>
									<h2>My Favourite Images</h2>
									<h4>Nature</h4>
									
									<img src = "https://www.stockvault.net/data/2011/09/25/127093/preview16.jpg" alt ="Nature" width = "400" height ="200">

									<h4>Sky</h4>

									<img src="https://www.stockvault.net/data/2011/07/08/125556/preview16.jpg"  alt="Sky" width ="400" height = "200">

									<h4>Beach</h4>

									<img src="https://www.stockvault.net/data/2011/07/08/125554/preview16.jpg" alt ="Beach" width = "400" height ="200">

									<p> This section contains a collection of images. Each image include alt text, to provide text description if the image fails to load.
										<br>These images are my favourites. The height and width of the images are also set using "height" and "width" tags.
									</p>
								</section>
								<hr>
								<section>

									<h2>My Favourite Music</h2>
								
									
									<audio controls>
										<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mp3">
										<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="audio/ogg">
										<p>Sorry,Your browser do not support HTML5 audio.</p>

									</audio>
									<p>This is my Favourite audio.This section includes HTML5 audio player.The player controls can be used to play, pause and sound control.</p>

								</section>
								<hr>
								<section>
									<h2>My favourite video</h2>
									<video width="320" height="240" controls>
										<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
										<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" type="video/ogg">
										<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webmvideo.webm" type="video/webm">
										<p>Sorry, your browser doesn't support HTML5 video</p>
									</video>
									<p>This is my favourite video.This section includes HTML5 Video player. The player controls can be used to play, pause and sound control.</p>

								</section>






							
					
					
					<!-- End your code here  -->



				</main>
			</div>
		</div>

		